<h1>Page created successfully!</h1>
<hr>
<h2>What is Lorem Ipsum?</h2>
<br>
@if((bool)ViewData["Hellow World"]){
    <h3 style="color: blue;">Passando dados para a View: @ViewData["Hellow World"]</h3>
}else{
    <h3 style="color: orange;">Passando dados para a View: @ViewData["Hellow World"]</h3>
}
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
<br>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>