@model IEnumerable<School_of_net_MVC.Models.Funcionario>
<style>
    main { width: 50%; margin: 0 auto; }
      h2 { margin-bottom: 2rem; text-align: center;}
       p { margin-bottom: .275rem; }
</style>
<h2>Todos os funcionários</h2>

@foreach (var funcionario in Model) {
    <p><strong>NOME:</strong> @funcionario.Nome</p>
    <p><strong>CPF:</strong> @funcionario.Cpf</p>
    <p><strong>Salário:</strong> U$@funcionario.Salario</p>
    <a href="/Funcionarios/Editar/@funcionario.Id" class="btn btn-success">Editar</a>
    <a href="/Funcionarios/Excluir/@funcionario.Id" class="btn btn-danger">Excluir</a>
    <p />
    <hr>
}

<div style="text-align: center">
   <a href="/Funcionarios/Cadastrar" class="btn btn-success">Cadastrar Novo Funcionario</a>
</div>